.profile-container {
  padding: 1vh 8vw;
  .profile-content {
    display: flex;
    justify-content: space-between;
    .text-area {
      display: flex;
      align-items: center;
      object-fit: cover;
      img {
        height: 10vw;
        width: 8vw;
        border-radius: 8px;
      }
      .details {
        padding: 3vw;
        display: flex;
        flex-direction: column;
        i {
          font-size: 1.3rem;
          font-weight: bold;
        }
        .icon {
          display: flex;
          align-items: center;
        }
      }
    }
    .amount-area {
      display: flex;
      align-items: center;
    }
  }
}
