.dashboard {
  padding-left: 8vw;
  /* padding-right: 2vw; */
  height: 100vh;
  /* margin-left:  10vw; */
  display: flex;
  justify-content: space-between;
  .main {
    width: 70%;
    .savings {
      display: flex;
      justify-content: space-between;
      .savings-stats {
        .bars {
          display: flex;
          align-items: center;
          .bar {
            padding: 10px;
          }
        }
      }
    }
  }
}
.account-cards {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 10px;
}

.cards {
  width: calc(25% - 10px);
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card {
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    i {
      font-size: 1.5rem;
      padding: 2px;
      transition: 0.3s all ease-in-out;
      &:hover {
        font-size: 1.8rem;
      }
    }
  }
}
.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card .top img {
  height: 40px; /* Fixed height */
  width: 40px; /* Fixed width */
  object-fit: cover;
}

.stats {
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding: 0 2vw;
  .inc-exp {
    display: flex;
    justify-content: space-around;
  }
}
.scheduled-expenses {
  margin-top: 4vh;
  .scheduletable {
    display: flex;
    flex-direction: column;
    .transactions {
      text-align: left;
      display: flex;
      justify-content: space-between;
      padding: 0.5vw;
    }
  }
}

.form {
  height: 50vh;
  width: 100vw;
  display: flex;
  /* gap: 2vw; */
  /* align-items: center; */

  .text-area {
    display: flex;
    /* margin-left: 5vw; */
    flex-direction: column;
    justify-content: space-around;
    input {
      border: 1px solid black;
    }
  }
}
