.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  /* padding-left: 2vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
  border-right: 1px solid black;
  transition: 3s;
  /* z-index: 99; */
  /* align-items: flex-end; */
  .logoshort {
    img {
      height: 10vh;
      width: 5vw;
    }
  }

  .nav-items {
    .nav-item {
      display: flex;
      flex-direction: column;
    }
    /* transition: 0.3s all ease-in-out; */
  }
}
.icons {
  padding: 16px;
  font-size: 1.5rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  &:hover {
    background-color: coral;
  }
}
.topbar {
  height: 80px;
  padding-left: 8vw;
  padding-right: 1vw;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .extras {
    display: flex;
    align-items: center;
    cursor: pointer;
    .extra {
      padding: 10px;
    }
  }
}
.active-link {
  background-color: coral;
  border-radius: 5px;
}
